
<%- include('partials/header') -%>
<main>
  <!-- <h1>List of Items</h1> -->

  <ul class="root">
    <h3><%= item.title%></h3>
    <div id="videos">
      <video src="/uploads/<%= item.file%>" controls></video>
    </div>
    <p><%= item.types%></p>

    <h5>likes: <span><%= item.likes%></span></h5>
    <%if(user) { %>
    <div class="like">
      <a href="/podcasts/<%= item.id%>/like">
        <i class="far fa-thumbs-up"></i>
      </a>
    </div>
    <%if(user.isAdmin) { %>
    <div class="crud">
      <a href="/podcasts/<%= item.id%>/edit">
        <button class="btn">edit</button>
      </a>
      <a href="/podcasts/<%= item.id%>/delete">
        <button class="btn">Delete</button>
      </a>
    </div>
    <% } %> <% } %>
  </ul>
</main>

<%- include('partials/footer') -%>